<!-- Importar componentes necesarios -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-avatar/paper-avatar.html">

<!-- Importar componentes propios -->
<link rel="import" href="../../src/bar-navigation/bar-navigation.html">

<dom-module id="login-Usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .ds_card{
        margin-top: 10%;
        max-width: 35rem;
      }
      paper-avatar.x-large {
        --paper-avatar-width: 60px;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Componente navegación -->
    <bar-navigation id="_barnav"></bar-navigation>

    <div class="card  mx-auto ds_card">
      <!-- Header -->
      <h4 class="card-header text-center text-white border-info bg-primary">Login Usuario</h4>

      <!-- Body -->
      <div class="card-body bg-light text-white">
          <!-- Contenido del body -->
          <div class="text-center">
            <paper-avatar src={{Avatar}} label={{knownEmail}} class="x-large text-center"></paper-avatar>
          </div>

          <paper-input readonly$="{{isKnown}}" type="text" label="Email" label:hidden="true" value="{{Email::input}}" required>
            <i class="fa fa-user fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix" ></i>
          </paper-input>

          <paper-input type="password" label="Password" label:hidden="true" value="{{Password::input}}" required>
            <i class="fa fa-lock fa-2x fa-fw text-primary" aria-hidden="true" slot="prefix"></i>
          </paper-input>

          <div class="text-center">
            <button class="btn btn-primary btn-block my-4" on-click="login">Login</button>
          </div>

      <!-- Footer -->
      <div class="card-footer bg-info text-center" hidden$="{{!isKnown}}">
        <button class="btn btn-link text-white" on-click="inicializar" >
          ¿No eres {{knownEmail}}? Click aquí
        </button>
      </div>
      <div class="card-footer bg-info text-center" hidden$="{{!isEmpty}}">
        <h6>Completa Email y Password</h6>
      </div>

      </div>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          Email: {
            type: String
          },
          Password: {
            type: String
          },
          Avatar: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value:false
          },
          isKnown: {
            type: Boolean,
            value: false
          },
          knownEmail: {
            type: String
          },
          isEmpty: {
            type: Boolean,
            value: false
          }
        };
      }

      /* Función login: se ejecuta al pulsar login */
      login(){
        console.log("El usuario ha pulsado el botón");

        // Encrypt Password
        var ciphertext = CryptoJS.AES.encrypt(this.Password, 'secret_pass').toString();
        var loginData = {
          "Email": this.Email,
          "Password": ciphertext
        };

        // Data complete validation
        if (this.Email === undefined || this.Password === undefined || this.Password === "" || this.Email === ""){
          this.isEmpty = true;
        } else {
          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();

          console.log("Petición enviada");
        }
      }

      /* Gestionar la respuesta del servidor si todo ok */
      manageAJAXResponse(data){
        console.log( "Recibida respuesta del servidor");
        console.log( data.detail.response);

        // Guardar id e email en la local storage
        localStorage.clear();
        localStorage.setItem("id", data.detail.response.id);
        localStorage.setItem("email", this.Email);
        localStorage.setItem("avatar", data.detail.response.Avatar);

        window.location = "/user";
      }

      /* Mostrar error si la respuesta del servidor falla */
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      /* Función inicializar: se borran las variables del LocalStorage
      y se activa el input de email */
      inicializar(){
        console.log("El usuario no es el que estaba guardado");
        localStorage.clear();
        this.isKnown = false;
        this.knownEmail = "?";
        this.Email = "";
        this.Avatar = "";
        this.$._barnav.avatar = "";
        this.$._barnav.knownEmail = "?";
      }

      constructor(){
        super();

        this.email=localStorage.getItem("email");
        if (this.email === null) {
          this.isKnown = false;
          this.knownEmail = "?";
        } else {
          this.isKnown = true;
          this.knownEmail = localStorage.getItem("email");
          this.Email = localStorage.getItem("email");
          this.Avatar = localStorage.getItem("avatar");
        }
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);

  </script>
</dom-module>
