<!-- Importar componentes necesarios -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">

<!-- Importar componentes propios -->
<link rel="import" href="../../src/mvtos-map/mvtos-map.html">
<link rel="import" href="../../src/bar-navigation/bar-navigation.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
        margin-top: 10%;
      }
      .ds_card{
        max-width: 60rem;
      }
      .ds_cardb{
        overflow-y: auto;
        height: auto;
        max-height: 40rem;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Componente navegación -->
    <bar-navigation _items=[[_items]]></bar-navigation>

    <div class="card mx-auto ds_card ">
      <!-- Header -->
      <div class="card-header bg-primary border-info text-white">
        <h4>Cuenta {{Cuenta}}</h4>
        <h5>Saldo Total: {{Importe_Tot}}</h5>
      </div>

      <!-- Body -->
      <div class="card-body ds_cardb bg-light text-primary">
        <!-- Contenido del body -->
        <div class="card">
          <simple-material-table id="demo" title="Movimientos" columns="[[columns]]" table-data="[[Movimientos]]"
            on-row-selected="_onRowSelected">
          </simple-material-table>

          <div class="row mx-auto pt-1" hidden$={{!act_map}}>
            <mvtos-map longitud="{{longitud}}" latitud="{{latitud}}"></mvtos-map>
          </div>
          <div class="text-center" hidden$={{!act_map}}>
            <button class="btn btn-primary btn-block my-4" on-click="ocultar">Ocultar</button>
          </div>
        </div>
      </div>
    </div>

    <iron-ajax
      auto=""
      id="getMovimientos"
      url="http://localhost:3000/apitechu/v2/Usuarios/{{id}}/{{idCuenta}}/Cuentas"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          id: {
             type: String
          },
          idCuenta: {
             type: String
          },
          Cuenta: {
             type: String
          },
          Importe: {
             type: Number
          },
          Importe_Tot: {
             type: Number
          },
          Movimientos: {
             type: Array
          },
          columns:{
            type: Array
          },
          act_map:{
            type: Boolean
          },
          longitud:{
            type: String
          },
          latitud:{
            type: String
          }
        };
      }

      _onRowSelected(e){
        this.act_map = true;
        console.log(e.detail);
        this.longitud = e.detail.Longitud;
        this.latitud = e.detail.Latitud;
      }

      ocultar(){
        this.act_map = false;
      }

      showData(data){
        this.Movimientos= data.detail.response[0].Cuentas[this.idCuenta].Movimientos;
        this.Cuenta = data.detail.response[0].Cuentas[this.idCuenta].Cuenta;

        var sum=0;
        this.Movimientos.forEach(function(element){
          sum += element.Importe;
        });
        this.Importe_Tot=sum;
      }

      /* Mostrar error si la respuesta del servidor falla */
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      constructor(){
          super();
          // Conseguir elemento*/
          this.id=localStorage.getItem("id");
          this.idCuenta=localStorage.getItem("idCuenta");
          console.log(this.id);
          console.log(this.idCuenta);
          this.act_map=false;

          this._items = [{
            "path": "/user",
            "label": "Posición Global"
          },{
            "path": "/user/Cuentas",
            "label": "Cuentas"
          },{
            "path": "/perfil",
            "label": "Perfil"
          },{
            "path": "/logout",
            "label": "Logout"
          }]

          this.columns = [{
            title: "Fecha",
            number: false,
            column: 'Fecha',
            hidden: false
          }, {
            title: "Movimiento",
            number: false,
            column: 'Tipo',
            hidden: false
          }, {
            title: "Importe",
            number: true,
            column: 'Importe',
            hidden: false
          },];
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
    
  </script>
</dom-module>
