<!-- Importar componentes -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-avatar/paper-avatar.html">

<dom-module id="bar-navigation">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-avatar.x-large {
        --paper-avatar-width: 40px;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Navegación cabecera -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top scrolling-navbar p-2">

      <!--Welcome Message-->
      <div class="text-right">
        <paper-avatar src={{avatar}} label={{knownEmail}} class="x-large text-center"></paper-avatar>
      </div>
      <h3 class="navbar-brand font-weight-bold ml-3" href="#" >Bienvenido a Proyecto Bilbao-Team</h3>

      <!--Collapse button-->
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbar1" aria-controls="navbar1"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="navbar-collapse collapse justify-content-end" id="navbar1">
        <!--Links-->
        <ul class="navbar-nav">
          <template is="dom-repeat" items="{{_items}}">
            <li class="nav-item active" >
              <a class="nav-link" href={{item.path}}>{{item.label}}</a>
            </li>
          </template>
        </ul>
      </div>

    </nav>

  </template>

  <script>

    class BarNavigation extends Polymer.Element {
      static get is() { return 'bar-navigation'; }
      static get properties() {
        return {
          _items: {
             type: Array
          },
          path: {
             type: String
          },
          label: {
             type: String
          },
          avatar: {
            type: String
          },
          knownEmail: {
            type: String
          }
        };
      }

      constructor(){
        super();
        this.avatar = localStorage.getItem("avatar");
        if (this.avatar !== null) {
          this.avatar = localStorage.getItem("avatar");
          this.knownEmail = localStorage.getItem("email");
        } else {
          this.avatar = "";
          this.knownEmail = "?";
        }
        
        this._items = [{
          "path": "/",
          "label": "Home"
        },{
          "path": "/login",
          "label": "Login"
        },{
          "path": "/signup",
          "label": "Signup"
        }]
      }
    }

    window.customElements.define(BarNavigation.is, BarNavigation);

  </script>
</dom-module>
