<!-- Importar componentes necesarios -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<!-- Importar componentes propios -->
<link rel="import" href="../../src/bar-navigation/bar-navigation.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
        margin-top: 10%;
      }
      .ds_card{
        max-width: 60rem;
      }
      .ds_cardb{
        overflow-y: auto;
        height: auto;
        max-height: 40rem;
      }
      google-chart {
        height: 15rem;
      }
    </style>

    <!-- Importar estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Componente navegación -->
    <bar-navigation _items=[[_items]]></bar-navigation>

    <div class="card mx-auto ds_card">
      <!-- Header -->
      <div class="card-header text-white border-info bg-primary">
        <h4>Hola {{Nombre}} {{Apellido1}} {{Apellido2}}</h4>
        <h5>Saldo Total: {{Importe_Tot_Cliente}}</h4>
      </div>

      <!-- Body -->
      <div class="card-body ds_cardb bg-light text-primary">
        <!-- Contenido del body -->

        <!-- Ingresos vs Gastos -->
        <div class="row">
          <div class="col-12">
            <google-chart
              id="table"
              class="mx-auto"
              type='pie'
              options='{"title": "Distribución de Ingresos y Gastos"}'
              cols='[{"label":"Tipo", "type":"string"}, {"label":"Importe", "type":"number"}]'
              rows='[[a_display]]'
              >
            </google-chart>
          </div>
        </div>

        <!-- Desglose de Ingresos y de Gastos -->

        <!-- Ingresos -->
        <div class="row">
          <div class="col-6">
            <google-chart
              id="tableI"
              class="mx-auto"
              type='pie'
              options='{"title": "Detalle de Ingresos"}'
              cols='[{"label":"Tipo", "type":"string"}, {"label":"Importe", "type":"number"}]'
              rows='[[a_displayI]]'
              >
            </google-chart>
          </div>

          <!-- Gastos -->
          <div class="col-6">
            <google-chart
              id="tableG"
              class="mx-auto"
              type='pie'
              options='{"title": "Detalle de Gastos"}'
              cols='[{"label":"Tipo", "type":"string"}, {"label":"Importe", "type":"number"}]'
              rows='[[a_displayG]]'
              >
            </google-chart>
          </div>

        </div>
      </div>
    </div>

    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/Usuarios/{{id}}"
      handle-as="json"
      on-response="showData"
    >

    <iron-ajax
      auto=""
      id="getidClienteCuentas"
      url="http://localhost:3000/apitechu/v2/Usuarios/{{id}}/Cuentas"
      handle-as="json"
      on-response="showDataCtas"
      on-error="showErrorCtas"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          Nombre: {
            type: String
          },
          Apellido1: {
            type: String
          },
          Apellido2: {
            type: String
          },
          _items: {
            type: Array
          },
          path: {
            type: String
          },
          label: {
            type: String
          },
          Cuentas: {
            type: String
          },
          a_display: {
            type: Array
          },
          a_displayI: {
            type: Array
          },
          a_displayG: {
            type: Array
          },
          Importe_Tot_Cliente: {
            type: Number
          }
        };
      }

      /* Respuesta servidor */
      showData(data){
        //console.log(data)
        console.log("recibimos los datos del usuario");
        console.log(data.detail.response[0]);

        this.Nombre = data.detail.response[0].Nombre;
        this.Apellido1 = data.detail.response[0].Apellido1;
        this.Apellido2 = data.detail.response[0].Apellido2;
      }

      /* Mostrar error si la respuesta del servidor falla */
      showError(error){
        console.log("Hubo un error en recuperación Cliente");
        console.log(error);
      }

      /* Respuesta servidor */
      showDataCtas(data){
        this.Cuentas= data.detail.response[0].Cuentas;

        var imp = 0;
        var idI = 0;
        var idG = 0;
        var ingreso = 0;
        var gasto = 0;
        var a_displayI=[];
        var a_displayG=[];

        this.Cuentas.forEach(function(element){
          element.Movimientos.forEach(function(element1){
            if (element1.Importe > 0){
              if (a_displayI.length === 0){
                var a_display_e= [element1.Tipo,Math.abs(element1.Importe)];
                a_displayI.push(a_display_e);
              } else {
                var iI;
                var found = false;
                for(iI=0; iI < a_displayI.length ; iI++){
                	if (a_displayI[iI][0] === element1.Tipo) {
                    var imp_act = element1.Importe + a_displayI[iI][1];
                    a_displayI.splice(iI, 1);
                    var a_display_e= [element1.Tipo,Math.abs(imp_act)];
                    a_displayI.push(a_display_e);
                    found = true;
                    break;
                  }
                }
                if (!found) {
                  var a_display_e= [element1.Tipo,Math.abs(element1.Importe)];
                  a_displayI.push(a_display_e);
                }
              }

              idI += 1;
              ingreso += element1.Importe;
              imp += element1.Importe;
            } else {
              if (a_displayG.length === 0){
                var a_display_e= [element1.Tipo,Math.abs(element1.Importe)];
                a_displayG.push(a_display_e);
              } else {
                var iG;
                var found = false;
                for(iG=0; iG < a_displayG.length ; iG++){
                	if (a_displayG[iG][0] === element1.Tipo) {
                    var imp_act = Math.abs(element1.Importe) + a_displayG[iG][1];
                    a_displayG.splice(iG, 1);
                    var a_display_e= [element1.Tipo,Math.abs(imp_act)];
                    a_displayG.push(a_display_e);
                    found = true;
                    break;
                  }
                }
                if (!found) {
                  var a_display_e= [element1.Tipo,Math.abs(element1.Importe)];
                  a_displayG.push(a_display_e);
                }
              }
              idG += 1;
              gasto += element1.Importe;
              imp += element1.Importe;
            }
          })
        });

        var a_display=[];
        var a_display_e= ["Ingreso",Math.abs(ingreso)];
        a_display.push(a_display_e);
        a_display_e= ["Gasto",Math.abs(gasto)];
        a_display.push(a_display_e);

        this.a_displayI = a_displayI;
        this.a_displayG = a_displayG;
        this.a_display = a_display;
        this.Importe_Tot_Cliente = imp;
      }

      /* Mostrar error si la respuesta del servidor falla */
      showErrorCtas(error){
        console.log("Hubo un error en recuperación Cuentas");
        console.log(error);
      }

      constructor(){
        super();

        this._items = [{
          "path": "/user",
          "label": "Posición Global"
        },{
          "path": "/user/Cuentas",
          "label": "Cuentas"
        },{
          "path": "/perfil",
          "label": "Perfil"
        },{
          "path": "/logout",
          "label": "Logout"
        }]

        // Conseguir elemento
        this.id=localStorage.getItem("id");
        console.log(this.id);
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
    
  </script>
</dom-module>
